$primary: #5265E1;
$secondary: #FA5959;
$gray: #e6e5e5;
$footer-color: #242946; 

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "gray": $gray,
  "footer-color": $footer-color,
);



//Feature//
$nav-link-color: #333;
$nav-link-padding-x: 2rem;
$nav-link-hover-color: $secondary;
$nav-tabs-link-active-color: #333;
$nav-tabs-link-active-border-color: $secondary;

//FAQs//
$accordion-icon-color: $primary;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

//General//

.separador {
  height: 50px;
  width: 100%;
}

.background-form1 {
  background-color: $primary; 
  border-radius: 80px 0 0 80px;
  top: 65%;
  left: 100%;
  right: 0%;
  transform: translate(-100%, -50%);
  width: 70%;
  height: 70%;
  z-index: -1;
 }

 .nav-link:active {
  color:#FA5959;
 }

 .navbar-toggler {
  border: none;
 }

 .btn-menu:hover {
  color: #333!important;
 }

 .btn-secondary:hover {
  background-color: white;
  border: $secondary solid 1px;
  color: $secondary;
 }

 //Features//

 .nav-tabs{
  border-bottom: 3px solid $gray;
 }

.nav-feature , .nav-feature.active{
  border: none;
  border-bottom: 3px solid $secondary;
  
}

.nav-link:hover {
  border: none;
  color: #FA5959;
}

.background-form2 {
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 90%;
  background-color: $primary; 
  border-radius: 0 80px 80px 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
    

  .nav-feature {
      width: 100%;
  }
  
  .nav-tabs .nav-link{
      border-bottom: 3px solid $gray; 
  }
}

 //Cards//

 .card {
  border: none;
 }

 .contenedor-extension {
  height: 400px;
 }

 .linea {
  border-top: 5px dotted $gray;
}

.card-img-top {
  height: 100px;
  width: 100px;
}

//FAQs//


//FOOTER//
.letter-spacing {
  letter-spacing: 5px;
}

