$primary: #5265E1;
$secondary: #FA5959;
$gray: #e6e5e5;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "gray": $gray
);



//Feature//
$nav-link-hover-color: $secondary;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.background-form {
  background-color: $primary; 
  border-radius: 50% 0 0 50%;
  top: 65%;
  left: 100%;
  right: 0%;
  transform: translate(-100%, -50%);
  width: 70%;
  height: 70%;
  z-index: -1;
 }

 .nav-link:hover {
  color:#FA5959;
 }

 .btn-secondary:hover {
  background-color: white;
  border: $secondary solid 1px;
  color: $secondary;
 }

 .features {
  max-width: 700px;
 }

 .options {
  border-bottom: $gray solid 2px;
 }
 .option-active {
  border-bottom: $secondary solid 2px;
 }


